@using WebAPI.Models
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product Page";
}
<head>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<main class="app-main mt-4">
    <div class="app-content">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h4">Quản lý sản phẩm</h1>
            <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#addProductModal">
                <i class="fas fa-plus"></i> Add New Product
            </button>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Tên</th>
                        <th scope="col">Danh mục</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Đã bán</th>
                        <th scope="col">Giá bán</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>
                                @{
                                    var category = ((List<Category>)ViewBag.Categories)
                                        .FirstOrDefault(c => c.Id == product.CategoryId);
                                }
                                @category?.Name
                            </td>
                            <td>@product.Description</td>
                            <td>@product.Sold</td>
                            <td>@product.Price.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                            <td>
                                <button class="btn btn-sm btn-gray" onclick='openEditProductModal(@product.Id);'>
                                    <i class="fas fa-edit"></i>
                                </button>


                                <div id="editProductModalLayout"></div>


                                <form asp-action="DeleteProduct" method="post" class="d-inline" onsubmit="return confirmDelete(event)">
                                    <input type="hidden" name="id" value="@product.Id" />
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @*Add product form*@
       
        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form asp-action="AddProduct" asp-controller="Product" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addProductModalLabel">Thêm sản phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="productName" class="form-label">Tên sản phẩm</label>
                                        <input type="text" class="form-control" id="productName" name="Name" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productBrand" class="form-label">Thương hiệu</label>
                                        <input type="text" class="form-control" id="productBrand" name="Brand" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editProductDescription" class="form-label">Danh mục</label>
                                        <select class="form-control" id="editProductCategory" name="CategoryId" required>
                                            @foreach(var category in (IEnumerable<Category>)ViewBag.Categories)  {
                                               <option value="@category.Id" >@category.Name</option>
                                            }
                                        </select>                                
                                     </div>                                  
                                    <div class="mb-3">
                                        <label for="productPrice" class="form-label">Giá bán</label>
                                        <input type="number" class="form-control" id="productPrice" name="Price" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="productImage" class="form-label">Hình ảnh</label>
                                        <input type="file" class="form-control mb-3" id="productImage" name="image" onchange="previewImage(this, 'previewImage-add')">
                                        <div class="d-flex justify-content-center"  style="height:160px; width:160px;margin-left:20px; border:1px solid #ccc;background: #ccc; border-radius:5px;">
                                            <img id="previewImage-add" class="img-fluid"  style="height:160px; width:160px; border-radius:5px;" />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productUnit" class="form-label">Đơn vị</label>
                                        <input type="text" class="form-control" id="productUnit" name="Unit" required>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="productDescription" class="form-label">Mô tả</label>
                                <textarea class="form-control" id="productDescription" name="Description" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
      </div> 

     
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@if (TempData["ApiLog"] != null)
{
    <script>
        console.log("API Log: @TempData["ApiLog"]");
    </script>
}

<script>
    function previewImage(input, previewImageId) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const previewImage = document.getElementById(previewImageId);
                if (previewImage) {
                    previewImage.src = e.target.result;
                } else {
                    console.error(`Không tìm thấy thẻ img với id ${previewImageId}`);
                }
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            console.error("Không có file nào được chọn!");
        }
    }

    function confirmDelete(event) {
        const confirmed = confirm("Bạn có chắc chắn muốn xóa sản phẩm này không?");
        if (!confirmed) {
            event.preventDefault();
        }
        return confirmed; 
    }

</script>

<script>
    function openEditProductModal(productId) {
       window.location.href = '/Product/EditProductModal?productId=' + productId;
    }

</script>
